<div class="back">
  <div class="container">
    <h1 class="gradient">COLOR CYCLE APP</h1>
    <div id="colorBox" [style.background-color]="'#' + red.value + green.value + blue.value"></div>
    <span id="hashtag">#</span>
    <div class="options">
      <label>Red<br><input type="text" maxlength="2" #red (keyup)="validate(red.value, red)"></label>
      <label>Green<br><input type="text" maxlength="2" #green (keyup)="validate(green.value, green)"></label>
      <label>Blue<br><input type="text" maxlength="2" #blue (keyup)="validate(blue.value, blue)"></label>

      <label>Add<br><input type="text" maxlength="3" (keyup)="validateAdd(addRed.value, addRed)" #addRed></label>
      <label>Add<br><input type="text" maxlength="3" (keyup)="validateAdd(addGreen.value, addGreen)" #addGreen></label>
      <label>Add<br><input type="text" maxlength="3" (keyup)="validateAdd(addBlue.value, addBlue)" #addBlue></label>
    </div>
    <div class="warning-div">
      <p [hidden]="onlyHexWarning" id="warning">Only hexadecimal numbers are accepted</p>
      <p [hidden]="onlyDecWarning" id="warning">Only decimal numbers are accepted</p>
      <p [hidden]="stopWarning" id="warning">Stop the application to change or enter values</p>
    </div>

    <button id="switchBtn" (click)="switch(addRed.value, addGreen.value, addBlue.value)"> {{ btnTitle }}</button>
  </div>
</div>
